.App {
  text-align: center;
}

body {
  font: 20px;
  margin: 20px;
}

.inputy {
}

.gameBoard {
  justify-content: center;
  align-items: center;
  height: 70vh;
  display: flex;
  flex-direction: column;
}

.kwadrat1 {
  border: 1px solid #999;
  float: left;
  font-size: 40px;
  height: 80px;
  line-height: 75px;
  padding: 5px;
  text-align: center;
  width: 80px;
  margin: 3px;
}

.row:after {
  clear: both;
  content: "";
  display: table;
}

h5 {
  color: rgb(7, 172, 48);
  font-size: 40px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.inputy {
  margin-bottom: 90px;
}

h1 {
  margin-bottom: 60px;
  font-size: 80px;
  animation colorLoop 5s infinite;
}

input {
  margin-bottom: 5px;
}

@keyframes colorLoop {
  0% {
    color: red;
  }
25% {
  color: blue;
}
50% {
  color: green;
}




}
