.App {
  text-align: center;
}

body {
  font: 20px;
  margin: 20px;
}

.gameBoard {
}

.kwadrat {
  border: 1px solid #999;
  float: left;
  font-size: 40px;
  height: 80px;
  line-height: 75px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 80px;
}
